div.sticky {
    /* position: sticky;
    z-index: 100;
    /* justify-content: top-end; */
    /* float: right;
    width: 17%;
    text-align: center;
    padding: 20px;
    background-color: linen;
    border: 2px solid lightgrey; */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    float: right;
    width: 17%;
    top: 0;
    z-index: 100;
    /* overflow: hidden; */
    text-align: center;
    background-color:linen;
    border: 2px solid lightgrey;
  }

  .order {
    float: centre;
  }

  .colour {
    max-width: 700px;
    margin: 0 auto;
    padding: 5px;
    background:lightyellow;
    border: 1px solid #c1c1c1;
    border: 1px solid lightgrey;
    border-radius: 10px;
    
  } 

  .colour > * {
    padding: 1em;
  }

  input:focus,
  textarea:focus {
    outline: 3px solid grey;
  }

  input,
  textarea,
  button {
    width: 75%;
    border: 1px solid #000;
  }


  form label {
    display: block;
  }

  form p {
    margin: 0;
  }
  
  button {
    background: lightgrey;
    width: 50%;
    border: 0;
  }


  form {
    display: grid;
    /* grid-template-columns: 2fr fr; */
    padding: 1px;
    grid-gap: 20px;
    
  }
  
  .question {
    margin: 1px;

  }
  p.drinks{
    padding: 20px;
    font-size: 16px;
    text-align: center;
    background: lightyellow;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }


  